.btn {
	background-color: $orange; 
	font-family: 'Ubuntu-Medium';
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	border: 0px;
	padding: 10px 14px;
	cursor: pointer;
	transition: 0.3s;
	
	&:hover {
		background-color: $orange-dark; 
	}

	&_left {
		float: left;
	}

	&_black {
		background-color: $black; 
		
		&:hover {
			background-color: $black-dark; 
		}
	}

	&_transparent {
		background-color: transparent; 
		
		&:hover {
			background-color: transparent; 
		}
	}
}


.btn--open-menu {
		@include tablets() {
		margin-left: 20px;
	}
}
