.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 200vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    transition: 0.3s;
}

.popup__body {
    background-color: #fff;
    padding: 20px;
}

.popup--open {
    left: 0;
}