.section {
	position: relative;
	width: 100vw;
	height: 100vh;
	min-height: 650px;
	background-size: cover;
	background-repeat: no-repeat; 
	background-position:  center; 
	
	&__container {
		margin: 0 auto;
		max-width: 960px;
		width: 100%;
		padding: 0 10px; 
		
		&_order,
		&_slider,
		{
			display: flex;
			justify-content: center; 
			align-items: center;
			height: 100%;
		}

		&_form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}
	
	&_burger {
		position: relative;
		background-image: url('../img/bg/first-screen.jpg');
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-repeat: repeat;
			background-image: url('../img/bg/first-screen-texture.png');  
		}
	}

	&_form {
		background-color: #000;
	}

	&_advantages
	{
		background-image: url('../img/bg/bg.jpg');
		
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}

	&_menu {
		padding: rem(95px);
		background-image: url('../img/bg/menu.jpg');  
	}

	&_slider {
		background: rgb(249,180,59); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(249,180,59,1) 0%, rgba(235,141,56,1) 50%, rgba(249,180,59,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(249,180,59,1) 0%,rgba(235,141,56,1) 50%,rgba(249,180,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(249,180,59,1) 0%,rgba(235,141,56,1) 50%,rgba(249,180,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 ); /* IE6-9 */
	}
}

